## Data cleaning

### Import libraries

In [159]:
import pandas as pd
import numpy as np

In [160]:
#https://www.kaggle.com/mirbektoktogaraev/madrid-real-estate-market?select=houses_Madrid.csv

### Data exploration

In [161]:
df1 = pd.read_csv("./data/inputs/houses_Madrid.csv")

In [162]:
df1.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,...,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,...,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,True,True,True,True

-----------

In [163]:
df1.columns

Index(['Unnamed: 0', 'id', 'title', 'subtitle', 'sq_mt_built', 'sq_mt_useful',
       'n_rooms', 'n_bathrooms', 'n_floors', 'sq_mt_allotment', 'latitude',
       'longitude', 'raw_address', 'is_exact_address_hidden', 'street_name',
       'street_number', 'portal', 'floor', 'is_floor_under', 'door',
       'neighborhood_id', 'operation', 'rent_price', 'rent_price_by_area',
       'is_rent_price_known', 'buy_price', 'buy_price_by_area',
       'is_buy_price_known', 'house_type_id', 'is_renewal_needed',
       'is_new_development', 'built_year', 'has_central_heating',
       'has_individual_heating', 'are_pets_allowed', 'has_ac',
       'has_fitted_wardrobes', 'has_lift', 'is_exterior', 'has_garden',
       'has_pool', 'has_terrace', 'has_balcony', 'has_storage_room',
       'is_furnished', 'is_kitchen_equipped', 'is_accessible',
       'has_green_zones', 'energy_certificate', 'has_parking',
       'has_private_parking', 'has_public_parking',
       'is_parking_included_in_price', 'parking_price', 'is_orientation_north',
       'is_orientation_west', 'is_orientation_south', 'is_orientation_east'],
      dtype='object')

-----------

In [164]:
df1["raw_address"]

0                           Calle de Godella, 64
1                Calle de la del Manojo de Rosas
2                            Calle del Talco, 68
3                            Calle Pedro Jiménez
4             Carretera de Villaverde a Vallecas
                          ...
21737                                        NaN
21738    Urb. Campo de las Naciones - Corralejos
21739                                        NaN
21740                         Calle Burriana, 12
21741                      Calle San Epifanio, 9
Name: raw_address, Length: 21742, dtype: object

------------

In [165]:
df1["is_exact_address_hidden"]

0        False
1         True
2        False
3         True
4         True
         ...
21737     True
21738     True
21739     True
21740    False
21741    False
Name: is_exact_address_hidden, Length: 21742, dtype: bool

-------------

In [166]:
df1["street_name"]

0                               Calle de Godella
1                Calle de la del Manojo de Rosas
2                                Calle del Talco
3                            Calle Pedro Jiménez
4             Carretera de Villaverde a Vallecas
                          ...
21737                                        NaN
21738    Urb. Campo de las Naciones - Corralejos
21739                                        NaN
21740                             Calle Burriana
21741                         Calle San Epifanio
Name: street_name, Length: 21742, dtype: object

Tenemos que tener en cuenta que no podemos poner valor a una vivienda sin saber su ubicación, por ello vamos a eliminar todas las viviendas que no tengan una dirección.

In [167]:
df1.dropna(subset=["raw_address"],inplace=True)

#### Working with missing data

In [168]:
df1.isnull().sum()

Unnamed: 0                          0
id                                  0
title                               0
subtitle                            0
sq_mt_built                        61
sq_mt_useful                     9524
n_rooms                             0
n_bathrooms                        13
n_floors                        15515
sq_mt_allotment                 15632
latitude                        16277
longitude                       16277
raw_address                         0
is_exact_address_hidden             0
street_name                       440
street_number                    9977
portal                          16277
floor                            1485
is_floor_under                    723
door                            16277
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              16277
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     331
is_renewal_needed                   0
is_new_development                763
built_year                       8775
has_central_heating              6066
has_individual_heating           6066
are_pets_allowed                16277
has_ac                           8339
has_fitted_wardrobes             6326
has_lift                         1322
is_exterior                      1812
has_garden                      15578
has_pool                        12602
has_terrace                      9167
has_balcony                     13755
has_storage_room                10757
is_furnished                    16277
is_kitchen_equipped             16277
is_accessible                   12978
has_green_zones                 13015
energy_certificate                  0
has_parking                         0
has_private_parking             16277
has_public_parking              16277
is_parking_included_in_price    10928
parking_price                   10928
is_orientation_north             7735
is_orientation_west              7735
is_orientation_south             7735
is_orientation_east              7735
dtype: int64

In [169]:
df1.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,...,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,...,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,True,True,True,True

Eliminamos aquellas columnas que no serán necesarias para nuestro objetivo.

In [170]:
df1 = df1.drop(columns=['Unnamed: 0', 'title',
       'sq_mt_allotment', 'is_exact_address_hidden', 'street_name',
       'street_number', 'portal', 'floor', 'is_floor_under', 'door',
       'neighborhood_id', 'operation', 'rent_price', 'rent_price_by_area',
       'is_rent_price_known','latitude','longitude',
       'is_buy_price_known', 'has_central_heating',
       'has_individual_heating', 'are_pets_allowed', 'has_ac',
       'has_fitted_wardrobes', 'has_lift',  'has_storage_room',
       'is_furnished', 'is_kitchen_equipped', 'is_accessible',
       'energy_certificate','sq_mt_useful', 'house_type_id',
       'has_private_parking', 'has_public_parking', 'has_green_zones',
       'is_parking_included_in_price', 'parking_price', 'is_orientation_north',
       'is_orientation_west', 'is_orientation_south', 'is_orientation_east'])

In [171]:
df1.head()

,id,subtitle,sq_mt_built,n_rooms,n_bathrooms,n_floors,raw_address,buy_price,buy_price_by_area,is_renewal_needed,is_new_development,built_year,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_parking
0,21742,"San Cristóbal, Madrid",64.0,2,1.0,NaN,"Calle de Godella, 64",85000,1328,False,False,1960.0,True,NaN,NaN,NaN,NaN,False
1,21741,"Los Ángeles, Madrid",70.0,3,1.0,NaN,Calle de la del Manojo de Rosas,129900,1856,True,False,NaN,True,NaN,NaN,True,NaN,False
2,21740,"San Andrés, Madrid",94.0,2,2.0,NaN,"Calle del Talco, 68",144247,1535,False,False,NaN,True,NaN,NaN,NaN,NaN,False
3,21739,"San Andrés, Madrid",64.0,2,1.0,NaN,Calle Pedro Jiménez,109900,1717,False,False,1955.0,True,NaN,NaN,NaN,NaN,False
4,21738,"Los Rosales, Madrid",108.0,2,2.0,NaN,Carretera de Villaverde a Vallecas,260000,2407,False,False,2003.0,True,NaN,True,NaN,NaN,True

In [172]:
df1 = df1.fillna(0) #Paso todos los valores NaN a 0

In [173]:
df1.head()

,id,subtitle,sq_mt_built,n_rooms,n_bathrooms,n_floors,raw_address,buy_price,buy_price_by_area,is_renewal_needed,is_new_development,built_year,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_parking
0,21742,"San Cristóbal, Madrid",64.0,2,1.0,0.0,"Calle de Godella, 64",85000,1328,False,False,1960.0,True,0,0,0,0,False
1,21741,"Los Ángeles, Madrid",70.0,3,1.0,0.0,Calle de la del Manojo de Rosas,129900,1856,True,False,0.0,True,0,0,True,0,False
2,21740,"San Andrés, Madrid",94.0,2,2.0,0.0,"Calle del Talco, 68",144247,1535,False,False,0.0,True,0,0,0,0,False
3,21739,"San Andrés, Madrid",64.0,2,1.0,0.0,Calle Pedro Jiménez,109900,1717,False,False,1955.0,True,0,0,0,0,False
4,21738,"Los Rosales, Madrid",108.0,2,2.0,0.0,Carretera de Villaverde a Vallecas,260000,2407,False,False,2003.0,True,0,True,0,0,True

In [174]:
df1 = df1 * 1 #Paso los True a valor 1 y los False a valor 0.
df1.head()

,id,subtitle,sq_mt_built,n_rooms,n_bathrooms,n_floors,raw_address,buy_price,buy_price_by_area,is_renewal_needed,is_new_development,built_year,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_parking
0,21742,"San Cristóbal, Madrid",64.0,2,1.0,0.0,"Calle de Godella, 64",85000,1328,0,0,1960.0,1,0,0,0,0,0
1,21741,"Los Ángeles, Madrid",70.0,3,1.0,0.0,Calle de la del Manojo de Rosas,129900,1856,1,0,0.0,1,0,0,1,0,0
2,21740,"San Andrés, Madrid",94.0,2,2.0,0.0,"Calle del Talco, 68",144247,1535,0,0,0.0,1,0,0,0,0,0
3,21739,"San Andrés, Madrid",64.0,2,1.0,0.0,Calle Pedro Jiménez,109900,1717,0,0,1955.0,1,0,0,0,0,0
4,21738,"Los Rosales, Madrid",108.0,2,2.0,0.0,Carretera de Villaverde a Vallecas,260000,2407,0,0,2003.0,1,0,1,0,0,1

In [177]:
df1["subtitle"].value_counts()

Malasaña-Universidad, Madrid               340
Lavapiés-Embajadores, Madrid               319
Ensanche de Vallecas - La Gavia, Madrid    305
Prosperidad, Madrid                        293
Pueblo Nuevo, Madrid                       282
                                          ...
Tetuán, Madrid                               2
Arganzuela, Madrid                           2
Puente de Vallecas, Madrid                   1
Vicálvaro, Madrid                            1
Barajas, Madrid                              1
Name: subtitle, Length: 145, dtype: int64

In [179]:
df1.to_csv('./data/inputs/Madrid.csv')